.PokemonList {
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.PokemonList_close {
  width: 100%;
  max-height: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.PokemonList__loader {
  width: 50%;
}
