/* .PokemonList {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 249, 255);
  margin: 0;
  padding: 5px 0;
  overflow-y: auto;
} */

.PokemonList__loader {
  width: 50%;
}

.PokemonList {
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
