.CoverBottom {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all ease-in-out 1s;
  overflow: hidden;
}

.CoverBottom_open {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.CoverBottom__background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin: 0;
  padding: 0;
}

.CoverBottom__content {
  position: absolute;
  bottom: -75%;
  width: 50%;
  height: 170%;
  background: linear-gradient(0deg, rgba(140,140,140,1) 0%, rgba(166,166,166,1) 20%, rgba(198,198,198,1) 40%, rgba(255,255,255,1) 100%);
  border-radius: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2%;
}

.CoverBottom__button {
  width: 20%;
  height: 20%;
  border-radius: 200px;
  margin-top: 30px;
  padding: 5px;
  z-index: 1;
}

.CoverBottom__center-button {
  width: 20%;
  height: 20%;
  border-radius: 100px;
  margin-top: 5px;
  padding: 5px;
  z-index: 1;
}

.CoverBottom__button:hover, .CoverBottom__center-button:hover {
  cursor: pointer;
}

@media screen and (max-width:550px) {
  .CoverBottom_open {
    height: 15%;
  }

  .CoverBottom__background {
    left: -10%;
    width: 120%;
  }

  .CoverBottom__content {
    width: 60%;
  }
}

@media screen and (max-width:400px) {
  .CoverBottom__button {
    margin-top: 20px;
  }
}
