.App {
  width: 600px;
  height: 100vh;
  background-color: rgb(197, 249, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: rgb(150, 255, 255);
  text-shadow: black 1px 1px 5px;
  background-color: rgb(150, 255, 255);
  border: solid 2px rgba(64, 217, 255, 0.5);
  border-radius: 200px;
  padding: 120px 45px;
  margin: -140px;
  z-index: 2;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.App__button:hover {
  cursor: pointer;
  text-shadow: black 2px 2px 6px;
  background-color: rgb(180, 255, 255);
  box-shadow: 0px 0px 10px 0px black;
  border: solid 2px rgba(64, 217, 255, 0);
}
