.PokemonInfo {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PokemonInfo__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.PokemonInfo__image {
  width: 80%;
  border: white 2px solid;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.PokemonInfo__info-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
}

.PokemonInfo__body-container {
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 5px;
  padding: 0 5px;
}

.PokemonInfo__body-p {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  padding: 0;
}

.PokemonInfo__type-container {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 5px;
  padding: 0 5px;
}

.PokemonInfo__type-h2 {
  margin: 10px 0;
  padding: 0;
}

.PokemonInfo__type-type {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0 0 10px;
}

.type {
  font-size: 18px;
  line-height: 20px;
  color: white;
  margin: 0;
  padding: 2px 5px;
}

.PokemonInfo__abilities-container {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 5px;
  padding: 0 5px;
}

.PokemonInfo__ability-ability {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0 0 10px;
}

.PokemonInfo__ability-name {
  font-size: 18px;
  line-height: 20px;
  color: black;
  background-color: #dddddd;
  margin: 0;
  padding: 2px 5px;
}

.PokemonInfo__stats {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 5px 20px;
}

.stats-h2 {
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
}


.PokemonInfo__stats-name {
  margin: 10px 0 0;
  padding: 0;
}
 
.normal {
  background: #d3d3af
}

.fighting {
  background: #d56723
}

.flying {
  background: #a1d1f8
}

.poison {
  background: #7fa8c9
}

.ground {
  background: #7c7e29
}

.rock {
  background: #a38c21
}

.bug {
  background: #729f3f
}

.ghost {
  background: #7b62a3
}

.steel {
  background: #9eb7b8
}

.fire {
  background: #fd7d24
}

.water {
  background: #4592c4
}

.grass {
  background: #9bcc50
}

.electric {
  background: #eed535
}

.psychic {
  background: #f366b9
}

.ice {
  background: #51c4e7
}

.dragon {
  background: #3d167c
}

.dark {
  background: #303030
}

.fairy {
  background: #fdb9e9
}

.unknown {
  background: #000
}

.shadow {
  background: #333
}

.borda-normal {
  border-color: #d3d3af
}

.borda-fighting {
  border-color: #d56723
}

.borda-flying {
  border-color: #a1d1f8
}

.borda-poison {
  border-color: #7fa8c9
}

.borda-ground {
  border-color: #7c7e29
}

.borda-rock {
  border-color: #a38c21
}

.borda-bug {
  border-color: #729f3f
}

.borda-ghost {
  border-color: #7b62a3
}

.borda-steel {
  border-color: #9eb7b8
}

.borda-fire {
  border-color: #fd7d24
}

.borda-water {
  border-color: #4592c4
}

.borda-grass {
  border-color: #9bcc50
}

.borda-electric {
  border-color: #eed535
}

.borda-psychic {
  border-color: #f366b9
}

.borda-ice {
  border-color: #51c4e7
}

.borda-dragon {
  border-color: #3d167c
}

.borda-dark {
  border-color: #303030
}

.borda-fairy {
  border-color: #fdb9e9
}

.borda-unknown {
  border-color: #000
}

.borda-shadow {
  border-color: #333
}