.bottom-cover__button {
  width: 30px;
  height: 30px;
  background-color: rgb(75, 75, 75);
  margin: 0;
  border-radius: 50px;
  border-style: none;
  padding: 5px;
}

.bottom-cover__button:nth-of-type(odd){
  margin: 10px 0;
}

.bottom-cover__button:hover {
  background-color: rgb(75, 75, 75, 0.8);
}