@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

#root {
  background-color: black;
  width: 100vw;
  min-width: 350px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:600px) {
  #root {
    align-items: flex-start;
  }
}
