@import url(./vendor/normalize.css);

#root {
  background-color: black;
  width: 100vw;
  min-width: 350px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
