.CoverTop {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all ease-in-out 1s;
  overflow: hidden;
  background-color: rgba(197, 237, 255, 0.2);
}

.CoverTop_open {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  0;
  padding: 0;
  transition: all ease-in-out 1s;
}

.CoverTop__background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
  padding: 0;
}

.CoverTop__content {
  position: absolute;
  top: -75%;
  width: 50%;
  height: 170%;
  background: linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(150,150,150,1) 60%, rgba(218,218,218,1) 85%, rgba(255,255,255,1) 100%);
  border-radius: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 2%;
}

.CoverTop__button {
  width: 55px;
  height: 55px;
  border-radius: 200px;
  margin-bottom: 30px;
  padding: 5px;
  z-index: 1;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  background: linear-gradient(45deg, rgba(97,97,97,1) 0%, rgba(150,150,150,1) 40%, rgba(204,204,204,1) 100%);
}

.CoverTop__center-button {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  margin-bottom: 5px;
  padding: 5px;
  z-index: 1;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  background: linear-gradient(45deg, rgba(97,97,97,1) 0%, rgba(150,150,150,1) 40%, rgba(204,204,204,1) 100%);
}

.CoverTop__button:hover, .CoverTop__center-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width:550px) {
  .CoverTop_open {
    height: 15%;
  }

  .CoverTop__background {
    left: -10%;
    width: 120%;
  }

  .CoverTop__content {
    width: 60%;
  }
}


@media screen and (max-width:470px) {
  .CoverTop__button {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
  }

  .CoverTop__center-button {
    width: 45px;
    height: 45px;
  }
}
