.CoverTop {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all ease-in-out 1s;
  overflow: hidden;
}

.CoverTop_open {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.CoverTop__background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
  padding: 0;
}

.CoverTop__content {
  position: absolute;
  top: -75%;
  width: 50%;
  height: 170%;
  background: linear-gradient(180deg, rgba(140,140,140,1) 0%, rgba(166,166,166,1) 20%, rgba(198,198,198,1) 40%, rgba(255,255,255,1) 100%);
  border-radius: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 2%;
}

.CoverTop__button {
  width: 20%;
  height: 20%;
  border-radius: 200px;
  margin-bottom: 30px;
  padding: 5px;
  z-index: 1;
}

.CoverTop__center-button {
  width: 20%;
  height: 20%;
  border-radius: 100px;
  margin-bottom: 5px;
  padding: 5px;
  z-index: 1;
}

.CoverTop__button:hover, .CoverTop__center-button:hover {
  cursor: pointer;
}

@media screen and (max-width:550px) {
  .CoverTop_open {
    height: 15%;
  }

  .CoverTop__background {
    left: -10%;
    width: 120%;
  }

  .CoverTop__content {
    width: 60%;
  }
}


@media screen and (max-width:400px) {
  .CoverTop__button {
    margin-bottom: 20px;
  }
}
